@charset "UTF-8";
/* CSS Document */

body {
  font-family: Arial, sans-serif;
  background: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 20px;
  color: #333;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.draggable {
  width: 250px;
  position: absolute;
  cursor: move;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.draggable:hover {
  transform: scale(1.20);
}

.active {
  width: 450px !important; 
  z-index: 1000;           
  transform: scale(1.20);
  box-shadow: 0 0 1px 1px gold;
}


.glow {
  box-shadow: 0 0 20px 5px gold;
}